@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
.mt-6{
  margin-top: 207px;   
}
.max-h-207{
 max-height: 560px;
}
.max-w-300{
    max-width: 300px;
}

.text h1{
    color:#1F314F;
    letter-spacing: 0.2px;
}

.text{
     width:90%;
    font-family: "Outfit", sans-serif;
}
    .attribution { font-size: 11px;  }
    .attribution a { color: hsl(228, 45%, 44%); }
@media (max-width: 600px) {
   main {
        width: 90%;         
       
    }
    .text p {
   
        line-height: 1.4;
    }

}